<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<!-- MemberMapper.java(InterFace) 연결 -->
<mapper namespace="com.java.www.mapper.GoCampingMapper">

<!-- 캠핑 데이터 1개 저장 -->

	<insert id="insertCamping">
		insert into gocamping values 
		(#{contentId},#{facltNm},#{doNm},#{intro},#{homepage},#{operDeCl},#{themaEnvrnCl},#{firstImageUrl})
		
	</insert>

</mapper>